html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", Arial, Sans-serif;
  background-color: #F4F5F7;
}

a {
  text-decoration: none;
}

.wrapper {
  height: 100%;
}

.wrapper-flex {
  display: flex;
  justify-content: center;
}

.btn {
    background: linear-gradient(269.71deg, #FAC297 -64.57%, #E7717D 99.75%);
    border-radius: 64.5px;
    display: inline-block;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 70px;
    padding: 24px 72px;
    font-size: 1.5rem;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    transition: all .25s ease;
    color: #fff;
}

.h2 {
  color: #e7717d;
  font-weight: 600;
  margin-bottom: 45px;
  margin-top: 0;
}

.view {
  display: none;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.view__img {
  display: block;
  margin: auto;
  cursor: pointer;
  height: 100%;
}

.checkbox {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  border: 2px solid #0EA8FF;
  border-radius: 3px;
  position: relative;
}

.checkbox input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.checkbox input:checked~.checkmark {
  display: block;
}

.checkmark {
  background-image: url(images/checkbox.svg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  margin-top: 60px;
}

.section-main {
  padding-top: 12vh;
}

.section-main__img {
  width: 755px;
  display: block;
  margin: auto;
}

.character__text {
  font-size: 4rem;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 20px;
}

.character__img {
  display: block;
  margin: auto;
  max-width: 100%;
  width: 320px;
  cursor: pointer;
}

.--text-center {
  text-align: center;
  width: 100%;
}

.--color-anemo {
  color: #72E2C3;
}

.--color-hydro {
  color: #21E1EB;
}

.--color-piro {
  color: #FE925D;
}

.--color-electro {
  color: #A757CB;
}

.--color-cryo {
  color: #8DE2DE;
}

.--color-geo {
  color: #E3B342;
}

.--color-geo {
  color: #E3B342;
}

.--color-dendro {
  color: #23C18A;
}

.--color-paimon {
  color: #FD9FA5;
}
